body {
    font-family: 'Times New Roman', Times, serif;
    color: #18251A;
    margin: 0;
    padding: 0;
    background-color: #DAD7CD;
}

header {
    background-color: #A3B18A;
    color: #DAD7CD;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 70px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 20px;
}

a {
    color: #3A5A40;
    text-decoration: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #999;
    color: #fff;
}

footer {
    background-color: #BFC4AC;
    color: #fff;
    text-align: center;
    padding: 10px 0;
<<<<<<< HEAD
}
=======
}


>>>>>>> 23ea021291871f04861f3bba9e75580f1409a6ed
